{{!-- todo的detail --}}

{{!-- disable表示狀態不可更改 --}}
<input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
{{!-- 只需要文字，不需要html，所以{}X2 --}}
<p>{{todo.name}}</p>
{{!-- 設定編輯入口 --}}
<a href="/todos/{{todo._id}}/edit">edit</a>
{{!-- 導回根目錄 --}}
<a href="/">back</a>
{{!-- 設定刪除入口--}}
{{!-- 載入method-override後，用戶端回傳的post可以經由override轉成delete method。post就會改成delete。開啟瀏覽器F12的開發者工具，network裡可以看見是否經過新設定的路由 --}}
<form action="/todos/{{ todo._id }}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>